includes:
  - phpstan-baseline.neon

parameters:
  level: 3
  paths:
    - app
    - config
  excludes_analyse:
    - app/Common/GoogleAuthenticator
  ignoreErrors:
    # Hyperf magic method calls via __callStatic
    # - '#Static call to instance method Hyperf\\DbConnection\\Db::[a-zA-Z0-9\\_]+\(\)#'
